#box1{
    background-color: beige;
    border: 1px solid black;
    color: red;
    font-size: x-large;
    font-family: 'Courier New, Courier, monospace';
}
#box2{
    background-color: pink;
    border: 1px solid black;
    color: red;
    font-size: x-large;
    font-family: 'Courier New, Courier, monospace';
}
#box3{
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
    color: red;
    font-size: x-large;
    font-family: 'Courier New, Courier, monospace';
}
#box4{
    background-color: lightsteelblue;
    border: 1px solid black;
    color: red;
    font-size: x-large;
    font-family: 'Courier New, Courier, monospace';
}
#box5{
    background-color: burlywood;
    border: 1px solid black;
    color: red;
    font-size: x-large;
    font-family: 'Courier New, Courier, monospace';
}
#box6{
    background-color: plum;
    border: 1px solid black;
    color: red;
    font-size: x-large;
    font-family: 'Courier New, Courier, monospace';
}
#box7{
    background-color: lightsteelblue;
    border: 1px solid black;
    color: red;
    font-size: x-large;
    font-family: 'Courier New, Courier, monospace';
}
 #box8{
    background-color: lightpink;
    border: 1px solid black;
    color: red;
    font-size: x-large;
    font-family: 'Courier New, Courier, monospace';
}
#box9{
    background-color: lightcyan;
    border: 1px solid black;
    color: red;
    font-size: x-large;
    font-family: 'Courier New, Courier, monospace';
}